services:
  api:
    build:
      context: ../api
      dockerfile: ../infra/Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ../api:/app
    environment:
      - ENV=dev

  frontend:
    build:
      context: ../frontend
      dockerfile: ../infra/Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - api
