name: CI

on:
  push:
    branches:
      - master

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Backend Docker Image
        run: docker build -t backend -f infra/Dockerfile.backend api/
      
      - name: Run Backend Linter (Ruff)
        run: docker run --rm backend uv run ruff check .

      - name: Build Frontend Docker Image
        run: docker build --target builder -t frontend -f infra/Dockerfile.frontend frontend/
        
      - name: Run Frontend Linter (ESLint)
        run: docker run --rm frontend npm run lint

  unit-tests:
    needs: linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Backend Docker Image
        run: docker build -t backend -f infra/Dockerfile.backend api/
        
      - name: Run Backend Unit Tests (Pytest)
        run: docker run --rm backend uv run pytest
